body {
  background-color: navajowhite;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.profile-picture {
  width: 20%;
  border-radius: 50%;
  margin: 20px 0;
  color: #373737;
}

.full-name {
  font-size: 20px;
  margin: 5px 0;
  color: #373737;
}

.course {
  font-size: 20px;
  margin: 5px 0;
  color: #373737;
}

.fun-fact {
  font-size: 20px;
  margin: 5px 0;
  color: #373737;
}

.react {
  font-size: 20px;
  margin: 20px;
  color: #373737;
}

.content {
  width: 80%;
  font-size: 18px;
  margin: 0 auto;
  color: #373737;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
